{
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
